@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.admin-panel {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    margin-bottom: 10vh;
    border-radius: 10px;
    padding: 20px;
}

.add-scores {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-scores input {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-scores textarea {
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-scores button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.add-scores button:hover {
    background-color: #0056b3;
}

.scores-list {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.scores-list ul {
    list-style: none;
    padding: 0;
}

.scores-list li {
    width: 100%;
    border-bottom: #ccc 2px solid;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: transform 0.2s;
    white-space: pre-line;
}

.scores-title {
    border-bottom: #ccc 2px solid;
    width: 100%;
}

.delete-button, .publish-button, .editScores-button, .deleteScores-button  {
    width: 25%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.button-group button {
  flex: 1 1 120px;
  max-width: 200px;
}