@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.admin-panel {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    margin-bottom: 10vh;
    border-radius: 10px;
    padding: 20px;
}

.add-news {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-news input {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-news textarea {
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.news-list ul {
    list-style: none;
    padding: 0;
}

.news-list li {
    width: 100%;
    border-bottom: #ccc 2px solid;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: transform 0.2s;
    white-space: pre-line;
}

.added-news-text {
    border-bottom: #ccc 2px solid;
    width: 100%;
}

.imagePreview {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin-panel button,
.add-scores button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white; 
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 0.5px; 
    font-size: 15px;
    transition: all 0.5s ease;
    font-weight: bold; 
    color: #333; 
    margin: 5px; 
    min-width: 120px; 
}

.admin-panel button:hover,
.add-scores button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;

}

.admin-panel button:active,
.add-scores button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(1px);
    transition: 100ms;
}

.publish-button {
    background-color: #4CAF50; 
    color: white;
    box-shadow: rgb(76 175 80 / 30%) 0 0 8px; 
}
.publish-button:hover {
    background-color: #388E3C;
    box-shadow: rgb(76 175 80) 0px 7px 29px 0px;
}
.publish-button:active {
    background-color: #388E3C; 
    box-shadow: none;
}

.create-folder-toggle,
.new-folder-input button,
.edit-button,
.editScores-button {
    background-color: #2196F3; 
    color: white;
    box-shadow: rgb(33 150 243 / 30%) 0 0 8px;
}
.create-folder-toggle:hover,
.new-folder-input button:hover,
.edit-button:hover,
.editScores-button:hover {
    background-color: #1976D2;
    box-shadow: rgb(33 150 243) 0px 7px 29px 0px;
}
.create-folder-toggle:active,
.new-folder-input button:active,
.edit-button:active,
.editScores-button:active {
    background-color: #1976D2;
    box-shadow: none;
}

.delete-picture,
.delete-button,
.deleteNews-button,
.deleteScores-button {
    background-color: #F44336; 
    color: white;
    box-shadow: rgb(244 67 54 / 30%) 0 0 8px;
}
.delete-picture:hover,
.delete-button:hover,
.deleteNews-button:hover,
.deleteScores-button:hover {
    background-color: #D32F2F;
    box-shadow: rgb(244 67 54) 0px 7px 29px 0px;
}
.delete-picture:active,
.delete-button:active,
.deleteNews-button:active,
.deleteScores-button:active {
    background-color: #D32F2F;
    box-shadow: none;
}