@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.header {
    width: 100%; 
    position: relative;
    overflow: hidden;
}

.headerPicture {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    display: block; 
    object-position: center top; 
}


.headerTextContainer {
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9); 
    z-index: 10;
    width: 90%; 
    max-width: 1200px; 
    font-family: 'Racing Sans One', sans-serif;
}


.clubNameAnimated {
    font-weight: 1000;
    font-size: 6rem; 
    margin: 0;
    animation: fadeInSlideDown 2s ease-in-out forwards;
}


.sinceText {

    font-family: 'Arial Black', Impact, sans-serif;
    font-weight: normal;
    font-size: 2.5rem; 
    margin-top: 5px;
    letter-spacing: 5px; 
    
    /* Delayed animation */
    animation: fadeIn 1.5s ease-out 1s forwards; 
    opacity: 0; 
}


/* --- DEFINE THE ANIMATIONS (KEYFRAMES) --- */

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Media Queries */
@media (max-width: 768px) {
    .header {
        height: 50vh;
        padding-top: 70px;
        position: relative;
    }
    
    .headerTextContainer {
        top: 40%; 
        width: 95%; 
    }
    
    .clubNameAnimated {
        font-size: 3rem; 
        letter-spacing: 1px;
        margin-top: 15vh;
    }

    .sinceText {
        font-size: 1.5rem; 
        letter-spacing: 3px; 
    }
}

@media (max-width: 480px) {
    .header {
        height: 30vh; 
    }

    .headerTextContainer {
        top: 45%; 
    }

    .clubNameAnimated {
        font-size: 3rem; 
        letter-spacing: 0;
        margin-top: 15vh
    }

    .sinceText {
        font-size: 1rem; 
        letter-spacing: 2px; 
    }
}