@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.photo-link {
    display: block; 
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.photos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

.photo-item {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s;
}

.photo-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.photo-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    object-position: center;
    display: block; 
}

.photo-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* YEARFILTER & LIGHTBOX */
/* Filtterien wrapper */
.year-filter,
.month-filter {
    display: flex;
    gap: 10px;
    margin: 20px auto;
    justify-content: center;
    flex-wrap: wrap;
}

/* Yleiset napit */
.year-filter button,
.month-filter button {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 25px;        /* pyöreä */
    cursor: pointer;
    transition: all 0.25s ease;
    font-family: "Poppins", sans-serif;
}

/* Hover-efekti */
.year-filter button:hover,
.month-filter button:hover {
    background-color: #e6e6e6;
    border-color: #c9c9c9;
    transform: translateY(-2px);
}

/* Aktiivinen nappi */
.year-filter button.active,
.month-filter button.active {
    background-color: black;
    color: white;
    border-color: black;
    transform: scale(1.05);
}

  
  .lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    color: white;
  }
  
  .lightbox-image {
    max-width: 100%;
    max-height: 80vh;
  }
  
  .lightbox-caption {
    margin-top: 1rem;
  }
  
  .lightbox-close, .lightbox-prev, .lightbox-next {
    position: absolute;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .lightbox-close {
    top: 10px;
    right: 20px;
  }
  
  .lightbox-prev {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  
  .lightbox-next {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }