.App {
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  min-height: 100vh; 
  box-sizing: border-box; 
  flex: 1;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}

.App-main {
  flex: 1;
}

.MuiContainer-root {
  min-height: calc(100vh - 120px); 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.MuiContainer-root {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 20px;
}

@media (max-width: 768px) {
  .MuiContainer-root {
    padding: 10px;
    border-radius: 0px;
  }
}